  body{
  	height:100%; 
  	background:url('images/background.jpg');
  	overflow:hidden; 
  	margin:0px; 
  	padding:0px;
  }





    #_outerDiv{
    height:100%; 
    
    position:absolute; 
    width:100%;
      overflow:hidden;
    }