<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HTML5 drag image in page - cheungmine</title>
  <style rel="stylesheet" type="text/css" >
  body{height:100%; overflow:hidden; margin:0px; padding:0px;}
    #_outerDiv{
		height:100%; 
		background:#ff0000; 
		position:absolute; 
		width:100%;
      overflow:hidden;
    }
  </style>
  <script type="text/javascript">
    var dragging = false;
    var startTop = 0; // top is a Key Word in Chrome and Opera
    var startLeft = 0;
    var dragPosY = 0;
    var dragPosX = 0;

    var movediv;
	
	function trimPX (_px) {
      if(_px==null || _px=="")
        return 0;
      return parseInt(_px.substr(0, _px.lastIndexOf("px")));
    }
	
	function hitInRect (hitX, hitY, rcLeft, rcTop, rcWidth, rcHeight) {
      return (hitX>=rcLeft && hitX<rcLeft+rcWidth && hitY>=rcTop && hitY<rcTop+rcHeight);
    }

  function mouseDown(ev) {
	ev = ev || window.event;
	var target = ev.target || ev.srcElement;

	 //alert(target.getAttribute('id'));
	//iMouseDown = true;
	/*
	 * what's this mean? if(Demos[0] || Demos[4]){ if(lastTarget){
	 * writeHistory(lastTarget, 'Mouse Down Fired'); } }
	 */
	 //alert(target.getAttribute('id'));
	 
   movediv = document.getElementById('MyDiv'+target.getAttribute('id'))
	 startTop = trimPX(movediv.style.top);
    startLeft = trimPX(movediv.style.left);
          var width = trimPX(movediv.style.width);
          var height = trimPX(movediv.style.height);

          //alert(hitInRect(ev.clientX, ev.clientY, startLeft, startTop, width, height));
          if (hitInRect(ev.clientX, ev.clientY, startLeft, startTop, width, height)) {
            //alert(movediv.getAttribute('id')+'  '+ev.clientX+'  '+ ev.clientY+'  '+startTop+'  '+startLeft+'  '+width+'  '+height);
            dragging = true;
            dragPosX = ev.clientX;
            dragPosY = ev.clientY;
            ev.preventDefault(); // disable default behavior of browser
          } 
		  //alert(dragging);
		  
	if (target.onmousedown || target.getAttribute('DragObj')) {
		return false;
	}
}

function mouseMove(ev) {
	ev = ev || window.event;
	var target = ev.target || ev.srcElement;
	
	if (dragging){
            movediv.style.cursor="pointer";
            var newTop = parseInt(startTop)+(ev.clientY - dragPosY);
            var newLeft = parseInt(startLeft)+(ev.clientX - dragPosX)
            console.log("info",newTop+ "px    "+newLeft+"px");
            if(newTop>=0)  movediv.style.top = newTop + "px";
            if(newLeft>=0) movediv.style.left = newLeft + "px";            
          }
          ev.preventDefault();
  }
  
  function mouseUp(ev) {
  ev = ev || window.event;
  var target = ev.target || ev.srcElement;
   // if(dragging==false) alert('click');
	   dragging = false;

          movediv.style.cursor="default";          
          ev.preventDefault();
  }
	

document.onmousemove = mouseMove;
document.onmousedown = mouseDown;
document.onmouseup = mouseUp;


/*

    function getElem (id) {
      return ;
    }

    

    

    function outerDiv () {
      return getElem("_outerDiv");
    }

    function imageDiv () {
      return getElem("_imageDiv");
    }

    window.addEventListener("load", initPage, false);

    function initPage () {
      outerDiv().addEventListener("mousedown", // start moving image
        function (event) {},      false
      );

      outerDiv().addEventListener("mousemove", // moving image
        function (event) {
          
        },
        false
      );

      outerDiv().addEventListener("mouseup", // stop moving image
        function (event) {
          dragging = false;
          imageDiv().style.cursor="default";          
          event.preventDefault();
        },
        false
      );
    }
	
	*/
  </script>
</head>
<body>
  <div id="_outerDiv">

    <div id="MyDivId1" style="z-index:0; position:absolute; top:0px; left:0px; width:200px; height:150px;">
      <img id="Id1" src="http://avatar.csdn.net/E/3/5/1_cheungmine.jpg"></img>
    </div>
	
	<div id="MyDivId2" style="z-index:0; position:absolute; top:200px; left:200px; width:200px; height:150px;">
      <img id="Id2" src="http://avatar.csdn.net/E/3/5/1_cheungmine.jpg"></img>
    </div>
  </div>
</body>
</html>
